<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
         defaultTestSuite="all_tests"
         colors="true"
         bootstrap="./tests/bootstrap_phpunit.php"
         >

    <testsuites>
        <testsuite name="all_tests">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>


    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="clover.xml"/>
            <html outputDirectory="tests_coverage"/>
        </report>
    </coverage>
</phpunit>
